@font-face {
    font-family:'IRANSans' ;
    src: url('fonts/IRANSansWeb.ttf') format('truetype'), url('fonts/IRANSansWeb.woff') format('woff');
}



:root{
    --color-wihte:#fff;
    --color-balck:#000;
    --color-bg:#e2e2e2;
}
.dark-mode{
    --color-wihte:#000;
    --color-balck:#fff;
    --color-bg:#1d1d1d;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 78px;
    height: 100%;
    background-color: var(--color-wihte);
    padding: 6px 16px;
    transition:var(--transition);
}
.sidebar.expand{
    width: 250px;
    transition: var(--transition);
}

.nav-header{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-header .logo{
    color: var(--color-balck);
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition);
}
.sidebar.expand .nav-header .logo{
    opacity: 1;
    transition: var(--transition);
}
.nav-header  .btn-menu{
    position: absolute;
    color: var(--color-balck);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    margin-right: 10px;
}
.sidebar.expand .nav-header  .btn-menu{
    right: 88%;
    margin-right: 0;
}

.nav-links{
    margin-top: 20px;
    height: 100%;
}
.nav-links li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.nav-links li .tooltip{
    position: absolute;
    top: -20px;
    right: calc(100% + 15px);
    z-index: 3;
    background-color: var(--color-wihte);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding: 6px 14px;
    font-size: 15px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
    white-space: nowrap;
}
.nav-links li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-balck);
}

.sidebar.expand .nav-links li .tooltip{
    display: none;
}
.nav-links i{
    color: var(--color-balck);
    height: 50px;
    min-width: 50px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.nav-links a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-wihte);
}
.nav-links  a .title{
    color: var(--color-balck);
    font-size: 15px;
    font-weight: 400;
    display: none;
    transition: var(--transition);
}
.sidebar.expand .nav-links a .title{
    display: block;
    transition: var(--transition);
}
.nav-links li:hover a{
    background-color: var(--color-hover);
}
.nav-links li:hover  i,.nav-links li:hover a .title{
    color: var(--color-balck);
}
.nav-links input{
    font-size: 14px;
    font-weight: 400;
    color:var(--color-balck);
    outline: none;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 12px;
    background-color: var(--color-bg);
    padding: 0;
}

.sidebar.expand .nav-links input{
    width: 100%;
    padding: 0 20px 0 40px;
}
.nav-links .search-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-25px);
    font-size: 23px;
    color: var(--color-balck);
    border-radius: 12px;
    background-color: var(--color-wihte);
    transition: var(--transition);
}
.sidebar.expand .nav-links .search-btn {
    background-color: transparent;
    transition: var(--transition);
}
.nav-links .search-btn:hover{
    background-color: var(--color-hover);
} 
.theme-wrapper{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    right: 0;
    padding: 8px 16px;
}
.theme-wrapper .theme-icon{
    font-size: 20px;
    color: #000;
    display: none;
    transition: var(--transition);
}
.sidebar.expand .theme-wrapper .theme-icon{
    display: block;
}
.theme-wrapper p{
    font-size: 16px;
    color: var(--color-balck);
    display: none;
    transition: var(--transition);
}
.sidebar.expand .theme-wrapper  p{
    display: block;
}

.theme-wrapper .theme-btn{
    width: 40px;
    height: 20px;
    background-color: var(--color-bg);
    border-radius: 30px;
    position: relative;
}

.theme-wrapper .theme-btn .theme-ball{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-balck);
    top: 2px;
    left: 3px;
    transition: var(--transition);
}
.theme-wrapper .theme-btn .theme-ball.dark {
    left: 20px;
}
.home{
    position: relative;
    top: 0;
    right: 78px;
    background-color: var(--color-bg);
    min-height: 100vh;
    width: calc(100% - 78px);
    z-index: 6;
}
.sidebar.expand ~ .home{
    right: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
}
.home p {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-balck);
    display: inline-block;
    margin: 20px;
}